*{
    padding: 0%;
}

.header{
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex-grow: 1;
    flex-basis: 200px;
    border: 1px solid rgb(11, 11, 11);
    border-bottom: none;
    border-top: none;
    padding: 10px;
    background-color: aliceblue;


}